# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database or local files
*.db

# Logs
*.log

# Ignore git-ignored files created by tools
.idea/
